
* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

a {
    text-decoration: none;
}



img {
    max-width: 100%;
}

p {
font-size: 1em;
}

/* Base Layout Styles */

.name {
    margin: 0;
    font-size: 1.25em;
    


.name a:hover {
    color: grey;
}

.banner {
    background-color: #D3D3D3;
    margin-bottom: 50px;
    padding: auto;
    max-width: auto;
    display: inline;
}

.banner p {
    color: black;
    background-color: white;
    display: block;
    padding-left: 25px;
    margin: auto 0;

}

.logo {
    float: right;
    background-repeat: no-repeat;
    padding-right: 25px;
    margin-bottom: 50px;
    margin-left: 1em;
}

.col {
    background-color: white;
    padding: 25px;
}

.contact {
    text-align: center;
}

/* Media Queries */

@media (min-width: 768px) {

    .name {
        float: left;
    }

   




.col {
    text-align: center;
    margin-top: 200px;
    max-width: 100%;
    
}

.col-1 {
    float: left;
    
}

.col-2 {
    float: right;
    
}

.col-3 {
    float: left;
    
}

.col-4 {
    float: right;
    
}

.col-5 {
    float: left;
    
}

.col-6 {
    float: right;
    
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
    width: 50%;
    padding: 1em;

}

.contact {
    text-align: center;
}

}
@media (min-width: 1024px) {

}


/* Clear fix */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}