/* Universal */

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* Header */

    .main-header {
     text-align: center;
     background-color: #f8f8f8;
     padding: .5em;
 }

    .name {
    margin: .5em 0;
}

    .main-nav a {
        display: block;
        color: black;
        text-decoration: none;
        padding: .5em;
        text-transform: uppercase;
        margin: .5em;
        font-weight: bold;
    }

    .main-nav li {
        list-style: none;
        background-color: white;
    }

    .porfolio-picture {
        margin-top: 2em;
        margin-bottom: 2em;
        
    }











/* Media Queries */

@media (min-width: 768px) {

  .main-header {
      text-align: center;
  }

  .name {
    margin: .5em 0;
    }

    .main-nav {
        margin-bottom: 3em;
    }
    .main-nav li {
        background: none;
        float: left;
    }
}













@media (min-width: 1024px) {
    .name {
        float: left;
        padding-left: .5em;
    }

    .main-nav {
        float: right;
        padding-right: .5em;
    }

    .porfolio-picture {
        float: right;
    }
}

/* Clear fix */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}